@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
.navbar{
    position: fixed;
    box-sizing: border-box;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 15vw;
    height: 9.8vh;
    width: 100vw;
    background-color: black;
    color: white;
    box-shadow: 0px 2px 8px 0px grey;
    z-index: 9;
}

h2{
    margin: 0;
    font-family: 'Bungee Inline', cursive;
    color:  #fbbd08;
    letter-spacing: 3px;
}
