.videocard{
    width: 32.333%;
    height: 35vh;
    margin: 0.5%;
    transition: all .3s ease-in-out;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
}

.videocard:hover{
    transform: scale(1.03);
}

@media screen and (max-width: 800px) {
    .videocard{
        height: 50vh;
    }
}

@media screen and (max-width: 650px) {
    .videocard{
        width: 100vw;
        height: 70vw;
    }
}