.videocard{
    width: 250px;
    height: 250px;
    margin: 1rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
}

.videocard:hover{
    transform: scale(1.03);
}

@media screen and (max-width: 650px) {
    .videocard{
        width: 100vw;
        height: 70vw;
    }
}