.ViewVideo{
    margin-top: 3rem;
    margin-left: 20px;
    display: flex;
    width: calc(100vw - 67px);
}

.ViewVideo_left{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.ViewVideo_video{
    width: 100%;
    padding: 2em;
    padding-bottom: 1em;
    padding-right: 0;
}

.ViewVideo_videoPlayer{
    width: 90%;
    height: 100%;
}

.ViewVideo_dashboard{
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.ViewVideo_title{
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.ViewVideo_icons{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: x-large;
}

.ViewVideo_icons>div{
    margin-left: 1em;
    cursor: pointer;
}

.ViewVideo_items{
    display: flex;
    margin-bottom: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.ViewVideo_items i{
    font-size: 2.4em;
}

.ViewVideo_dp{
    display: flex;
    align-items: center;
}

.ViewVideo_items span{
    margin-left: 0.6em;
    font-size: larger;
    font-weight: bold;
}

.ViewVideo_items button{
    padding: 0.5em 1em;
    background-color: white;
    border: rgba(0, 0, 0, 0.5) 1px solid;
}

.ViewVideo_items button:hover{
    background-color: tomato;
    color: white;
}

.ViewVideo_All_Button{
    padding: 0.5em 1em;
    background-color: white;
    border: rgba(0, 0, 0, 0.5) 2px solid;
    border-radius: 8px;
}

.ViewVideo_All_Button:hover{
    background-color: black;
    color: white;
    border: rgba(233, 216, 216, 0.5) 2px solid;
}

.ViewVideo_description{
    margin-top: 2em;
    padding-left: 5em;
    font-size: 0.9em;
    letter-spacing: 0.4px;
}

.ViewVideo_right{
    width: 30%;
}

.ViewVideo_chats{
    margin: 2em;
    padding: 0.5em;
    margin-left: 0;
    height: 60vh;
    overflow: auto;
    background-color: rgba(71, 69, 69, 0.068);
}

.chat{
    margin-bottom: 0.5em;
}

.chat i{
    font-size: 1.2em;
}

.chat span:nth-last-child(2){
    font-size: 1em;
    font-weight: bold;
}

.chat span:nth-last-child(1){
    font-size: 0.9em;
}